article{ 
    min-width: 600px;
    width: 80%;
    margin:10px;
    background-color:  rgb(250,247,229);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
article img{
    width: 50%;
    order: 1;
}
.cut{
    color: rgb(130, 67, 38);
    width: 40%;
    align-self: flex-start;
    order: 2;
}