
*{
    color:rgb(130, 67, 38);
}
h1{
    font-size: 3em;
    margin-left: 2.5%;
}
h2{
    font-size: 2em;
    margin-left: 2.5%;
}
main{
    display: flex;
    width:95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav{
    width: 100%;
    display: flex;
    background-color: rgb(250,247,229);
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: nowrap;
}
nav div{
    box-sizing: border-box;
    color:  rgb(130, 67, 38);
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: rgb(240,224,145);
    border-radius: 40px;
    margin: 10px;
}

nav div:nth-of-type(3){
    height: 80px;
    width: 200px;
    border-radius: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav img{
    align-self: center;
    width: 80px;
    height: 60px;;
}
.big p{
    font-size: 1.6em;
}
.card{
    width: 48%;
    height: 50%;
    display:flex;
    flex-flow: row wrap;

    padding:20px 5px;
}
.roundy{
    background-color: rgb(250,247,229);
    color: rgb(130, 67, 38);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    
}
.roundy img{
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.blocco{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.text1{
    align-self: center;
    text-align: center;
}
h3{
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 0;
    
}
.primo{
    align-self: center;
    margin-top: 0;
    font-size: 1.2em;
}
.secondo{
    align-self: center;
    font-size: 1.6em;
}
button{
    width:65%;
    height: 40px;
    border-radius: 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: rgb(130, 67, 38);
    border: none;
    background-color: rgb(240,224,145);
    align-self: center;
}
article{ 
    width: 95%;
    margin:0 auto;
    padding-bottom: 20px;
    background-color:  rgb(250,247,229);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
article img{
    object-fit: cover;
    width: 95%;
    height: 95%;
    margin:0 auto;
    order: 2;
}
.cut{
    color: rgb(130, 67, 38);
    width: 95%;
    line-height: 1.2em;
    font-size: 1.2em;
    margin:0 auto;
    align-self: flex-start;
    order: 1;
}
